---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: dcw-app
spec:
#  selector:
#    matchLabels:
#      app.kubernetes.io/name: app-eks-demo
  replicas: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: app-eks-demo
    spec:
      containers:
      - image: 738648676042.dkr.ecr.us-east-1.amazonaws.com/dcw-app
        imagePullPolicy: Always
        name: app-eks-demo
        ports:
        - containerPort: 3000
